.empty {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.text {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

.primary {
  outline: none;
  border: none;
  padding: 0.5em 1.5em;
  color: white;
  font-size: inherit;
  background: var(--blue);
  transition: background-color 0.2s;
  cursor: pointer;
}

.primary:hover {
  background: var(--dark-blue);
}

