.wrapper {
  position: relative;
}

.hideUntilHover .check:not(.selected) {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0s ease 0.2s;
}

.hideUntilHover:hover .check {
  visibility: visible;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.check {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 30px;
  height: 30px;
  font-size: 26px;
  color: rgb(245, 245, 245);
}

.check:not(.selected):hover {
  opacity: 1;
}

.check.selected {
  color: var(--blue);
}

