.navlink {
  text-decoration: none;
  color: var(--gray);
  font-size: 16px;
  font-weight: 400;
}

.navlink:hover {
  color: var(--blue);
}

.navlink > span {
  vertical-align: middle;
}

.active {
  color: var(--blue);
}

.icon {
  margin-right: 5px;
}

