.wrapper {
  position: relative;
  height: 100%;
}

.hoverFade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.6+0,0+100 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0s ease 0.2s;
}

.wrapper:not(.selected):hover .hoverFade {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
}

.selectedFade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0s ease 0.2s;
}

.selected .selectedFade {
  visibility: visible;
  opacity: 0.6;
  transition: opacity 0.2s;
}

